@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-my-lime: hsl(61, 70%, 52%);
  --color-my-lime-dark: hsl(61, 93%, 41%);
  --color-my-red: hsl(4, 69%, 50%);
  --color-my-white: hsl(0, 0%, 100%);
  --color-my-slate-100: hsl(202, 86%, 94%);
  --color-my-slate-300: hsl(203, 41%, 72%);
  --color-my-slate-500: hsl(200, 26%, 54%);
  --color-my-slate-700: hsl(200, 24%, 40%);
  --color-my-slate-900: hsl(202, 55%, 16%);
  --color-my-slate-max: hsl(200, 55%, 10%);

  --breakpoint-md: 1000px;
}

body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans";
  display: grid;
  place-items: center;
  background-color: hsl(202, 86%, 94%);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
button {
  font-family: inherit;
}

/* input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
} */

input[type="radio"]:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 15px;
  top: 0px;
  left: 2px;
  position: relative;
  background-color: hsl(57, 86%, 46%);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
